/*area do login*/
.login {
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 500px;
    margin: auto;
}

.form1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.lfp {
    text-align: center;
    font-size: 1.5em;

    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.ltitulo1 {
    margin-bottom: 25px;
    font-size: 2em;

    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    color: #212A31;
}

.email {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: #212A31;
}

.senha {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: #212A31;

    margin-bottom: 12px;
}

.botoes_login {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.blb {
    width: 100px;
    padding: 8px 15px;
    text-align: center;
    border: 2px solid #124E66;
    border-radius: 5px;
    color: #212A31;

    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.bli {
    width: 100px;
    padding: 8px 15px;
    text-align: center;
    border: 2px solid #124E66;
    border-radius: 5px;
    color: #212A31;

    /*ativo*/
    background-color: #124E66;
    color: #ffffff !important;

    border: 2px solid #124E66;
    padding: 4px 6px;
    border-radius: 5px;

    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/*area do registro*/
.registro {
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 500px;
    margin: auto;
}

.form1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.rfp {
    text-align: center;
    font-size: 1.5em;

    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.rtitulo1 {
    margin-bottom: 25px;
    font-size: 2em;

    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    color: #212A31;
}

.botoes_registro {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.brb {
    width: 100px;
    padding: 8px 15px;
    text-align: center;
    border: 2px solid #124E66;
    border-radius: 5px;
    color: #212A31;

    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.bri {
    width: 100px;
    padding: 8px 15px;
    text-align: center;
    border: 2px solid #124E66;
    border-radius: 5px;
    color: #212A31;
    

    /*ativo*/
    background-color: #124E66;
    color: #ffffff !important;

    border: 2px solid #124E66;
    padding: 4px 6px;
    border-radius: 5px;

    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.caixa {
    width: 220px;
    color: #212A31;

    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.label {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    color: #212A31;
}

.error {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}